*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #52d3ea;
    color: blueviolet;
}

.titre{
    display: flex;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

